{% extends "base.html" %}

{% load static %}

{% block content %}
<main>
<body>
    <div class="container">
        <div class="container-inicial" id="instruciones">
            <div>
                <h1>RETALIA</h1>
                <br>
                <h2>Un desafío competitivo para demostrar tu dominio del español.</h2>
            </div>

            <div class="container-instrucoes">
                <h2>Instrucciones del {{ descricao.titulo }}</h2>

                <p><strong>Puntos por acierto:</strong> {{ regras.pontos_acerto }}</p>
                <p><strong>Puntos por error:</strong> {{ regras.pontos_erro }} </p>
                <p><strong>Meta de victoria:</strong> {{ regras.meta_vitoria }} puntos</p>
                <p><strong>Rondas:</strong> {{ regras.max_rodadas }}</p>
                
            </div>
            <h3>{{ descricao.texto }}</h3>
        </div>
        <div class="area-continuar">
            <form action="{% url 'cancelar_nivel' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-nuevo-juego"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>ㅤVolverㅤ</button>
            </form>

            <form action="{% url 'jogar_turno' %}" method="get">
                <button type="submit" class="btn-continuar">Comenzar partida</button>
            </form>
        </div>
    </div>
</body>
</main>
    {% endblock %}
</html>